<!DOCTYPE html>
<html lang="en" class="font-mono">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <!-- Tailwind -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Extra technical font -->
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <style>
        .tech-font {
            font-family: 'Share Tech Mono', monospace;
        }
    </style>